<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="style.css">

    
</head>

<body>
    <header>
        <img src="../public/images/logo-mercado-liebre (1).jpg" alt="Logo de Mercado Liebre">

        <h4>Lugar para la barra de busqueda</h4>

        <h4>Compra en cuotas y sin tarjeta de credito</h4>

        <ul>
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>



        <ul>
            <li>Crea tu cuneta</li>
            <li>Ingresa</li>
            <li>Mis compras</li>
        </ul>

        <img src="/images/img-home-banner.jpg" alt="">



    </header>

    <main>
        <section>
            <article>

                <ul>
                    <h2>Seccion basado en tu ultima vista</h2> <br><br><img
                        src="/images/img-cafetera-moulinex.jpg" alt="Cafetera"><br><br>
                    <h4>$6.770 </h4><br><br>
                    <h4>40% OFF</h4> <br><br>
                    <h4>Cafetera Moulinex</h4>
                    </li>
                    <br><br><img src="/images/img-macbook-pro-2019.jpg" alt="Laptop"><br><br>
                    <h4>$230.000</h4> <br><br>
                    <h4>20% OFF</h4>
                    <br><br>
                    <h4>Macbook Pro 2019</h4>
                    <br><br><img src="/images/img-samsung-galaxy-s10.jpg" alt="Telefono"><br><br>
                    <h4>$70.500</h4> <br><br>
                    <h4>10% OFF</h4>
                    <br><br>
                    <h4>Samsung Galaxy S10</h4>
                    <br><br><img src="/images/img-tv-samsung-smart.jpg" alt="Cafetera"><br><br>
                    <h4>$23.200</h4> <br><br>
                    <h4>5% OFF</h4>
                    <br><br>
                    <h4>SmartTV Samsung 43"</h4>

            </article>

        </section>

        <section>
            <article>
                <ul>
                    <h2>Seccion basado en tu ultima vista</h2> <br><br><img
                        src="/images/img-cafetera-moulinex.jpg" alt="Cafetera"><br><br>
                    <h4>$6.770 </h4><br><br>
                    <h4>40% OFF</h4> <br><br>
                    <h4>Cafetera Moulinex</h4>
                    </li>
                    <br><br><img src="/images/img-macbook-pro-2019.jpg" alt="Laptop"><br><br>
                    <h4>$230.000</h4> <br><br>
                    <h4>20% OFF</h4>
                    <br><br>
                    <h4>Macbook Pro 2019</h4>
                    <br><br><img src="/images/img-samsung-galaxy-s10.jpg" alt="Telefono"><br><br>
                    <h4>$70.500</h4> <br><br>
                    <h4>10% OFF</h4>
                    <br><br>
                    <h4>Samsung Galaxy S10</h4>
                    <br><br><img src="/images/img-tv-samsung-smart.jpg" alt="Cafetera"><br><br>
                    <h4>$23.200</h4> <br><br>
                    <h4>5% OFF</h4>
                    <br><br>
                    <h4>SmartTV Samsung 43"</h4>

            </article>
        </section>






    </main>

    <footer>

        <section>
            <article>
                <ul>
                    <li>
                        <h4>Paga con tarjeta o en efectivo</h4> <p></p> Con Mercado Liebre Cash, tenes cuotas sin interes con
                            tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
                    </li>
                    <li>
                        <h4>Envio gratis desde $2500 </h4><p> Solo por estar registrad@ en Mercado Liebre tenes envios gratis
                            en miles de productos. Es un beneficio de mercado puntos</p>
                    </li>
                    <li>
                        <h4>Seguridad, de principio a fin</h4> 
                        <p>No te gusta? Devolvelo en Mercado Liebre! No hay nada que
                            no puedas hacer, porque estas siempre protegido.</p> 
                    </li>
                    <li>
                        <p>Copyright 1999-2020 Mercado Liebre S.R.L.</p>
                    </li>
                </ul>
            </article>
        </section>

    </footer>

</body>

</html>