<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1a451b1708.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/style.css">
    <title>Register</title>
</head>

<body class="register">
    <header>


        <div class="principio">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
            </div>


            <div class="busqueda">

                <input type="text" placeholder="Buscar, productos y marcas..."><i class="fas fa-search"></i>


            </div>





            <div class="cuotas">
                <i class="fas fa-hand-holding-usd"></i><span>Compra en cuotas y sin tarjeta de credito </span>
            </div>


        </div>


        <nav class="navegador">
            <div class="menu">
                <ul>
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
            </div>
            <div class="menu2">
                <ul>
                    <li> <a href="/register.html"> Crea tu cuenta <i class="fas fa-user-plus"style="background-color:#EAC926; border: 0px;"> </a></i></li>
                    <li> <a href="/login.html"> Ingresa<i class="fas fa-sign-in-alt" style="background-color:#EAC926 ; border: 0px;"> </a></i></li>
                    <li>Mis compras<i class="fas fa-shopping-basket" style="background-color:#EAC926 ; border: 0px; "></i></li>
                </ul>
            </div>
        </nav>


        <div class="burger">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <main>
        <form action="">

            <label for="nombre"></label>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido ...">
            


            <label for="user"></label>
            <input type="text" name="user" id="user" placeholder="Nombre de Usuario ...">
            

            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="Email ...">

            <h4>Fecha de Nacimiento</h4>

            <input type="date" name="fecha" value="2021-07-31" min="1950-01-01" max="2022-01-01">


            <label for="domicilio"></label>
            <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio ...">

            <h4>Perfil del usuario</h4>

            <div>
                <label for="perfil">Comprador</label>
                <input type="radio" name="perfil" value="Comprador">


                <label for="perfil">Vendedor</label>
                <input type="radio" name="perfil" value="Vendedor">

            </div>



            <div class="intereses">
                <h4>Intereses</h4>
            </div>


            <div class="area">

                <div>
                    <label for="area">Electro</label>
                    <input type="checkbox" name="area" id="area" value="Electro">
                </div>


                <div>
                    <label for="area">Moda</label>
                    <input type="checkbox" name="area" id="area" value="Moda">
                </div>


                <div>
                    <label for="area">Hogar</label>
                    <input type="checkbox" name="area" id="area" value="Hogar">
                </div>


                <div>
                    <label for="area">Jugueteria</label>
                    <input type="checkbox" name="area" id="area" value="Jugueteria">
                </div>


                <div>
                    <label for="area">Vida Sana</label>
                    <input type="checkbox" name="area" id="area" value="Vida Sana">
                </div>

            </div>
            <div class="enviar1">
                <input type="submit" class="enviar" value="Enviar">
            </div>
            <div class="reset1">
                <input type="reset" class="reset" value="Reset">
            </div>



        </form>
    </main>
    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
            <h4>Paga con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenes cuotas sin interes con
                tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
        </section>

        <section>
            <i class="fas fa-gift"></i>

            <h4>Envio gratis desde $2500 </h4>
            <p> Solo por estar registrad@ en Mercado Liebre tenes envios gratis
                en miles de productos. Es un beneficio de mercado puntos</p>
        </section>

        <section>
            <i class="fas fa-user-shield"></i>

            <h4>Seguridad, de principio a fin</h4>
            <p>No te gusta? Devolvelo en Mercado Liebre! No hay nada que puedas hacer porque estas siempre
                protegido
        </section>



        <p><small> Copyright 1999-2020 Mercado Liebre S.R.L.</small></p>

    </footer>

</body>

</html>