footer {
    background-color: white;
    padding: 20px 0;

}

footer section{
    text-align: center;
    padding: 20px 50px;
}

footer section i {
    color: var(--celeste);
    font-size: var(--titulares);
    
}

footer section h4{
    font-size: var(--descuentos-descripciones);
    color: var(--gris-oscuro);
}

footer section p {
  color: var(--gris-oscuro);
}

footer p{
    color: var(--gris-oscuro);
    margin-left: 10px;
    
}